body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    background: #FC354C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

#container {
    width: 350px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 27px;
}

a {
    background: #FD5959;
    display: inline-block;
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    background-image: linear-gradient(to right, #0ABFBC 0%, #FC354C  51%, #0ABFBC  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    background-size: 250% auto;
    color: white;            
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 100px;
    display: block;
}

a:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
